.app-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align into view on mobile */
  padding: 20px;
}

@media (min-width: 768px) {
  .app-container {
    align-items: center;
    padding: 40px;
  }
}
